*{
    padding: 0;
    margin: 0;
}

.banner{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 65vh;
    position: relative;
}

.banner img{
    object-fit: fill;
    width: 100%;
    height: 65vh;
}

@media(max-width: 480px){
    .banner{
        margin: 0;
        object-fit: fill;
        height: 40vh;
        border-radius: 0;   
    }

    .banner img{
        height: 40vh;
    }
}

.main-heading{
    position: absolute;
    align-items: center;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 10;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 45px;

}
.main-heading span{
    color: white;
    background-color: red;
    padding: 5px 20px;
    border-radius: 30px;
}

@media(max-width: 480px){
    .main-heading{
        font-size: 20px;
        top: 15%;
    }
    .main-heading span{
        display: inline-block;
        margin-top: 5px;
    }
}

.heading{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 15px;
}

.heading span{
    color: red;
}

@media(max-width: 480px){
    .heading{
        font-size: 18px;
        margin-top: 25px;
    }
}

.suggestion{
    padding: 5px 20px;
    margin: 25px 130px;
    font-size: 30px;
    display: inline-block;
    border-radius: 5px 20px 5px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.suggestion span{
    color: red;
}

@media(max-width: 480px){
    .suggestion{
        font-size: 20px;
        margin: 25px 30px;
        padding: 0 0px;
    }
}

.places-container {
    width: 100%;
    overflow: hidden;  
    padding: 0 130px;  
    box-sizing: border-box;
}

.places {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding: 0;
    z-index: 10; 
    padding-bottom: 15px;  
}

.places div {
    flex: 0 0 31.5%; 
    min-width: 31.5%;
    height: 260px;
    scroll-snap-align: start;
    border-radius: 15px;
    overflow: hidden;
    background-color: white; 
    box-shadow: 0 10px 16px rgba(0,0,0,0.1);
}

.places::-webkit-scrollbar {
    display: none;
}

.places div img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.places div img:hover{
  transform: scale(1.65);
  transition-duration:  1.5s ;
}

.places div p{
  font-size: 18px;
  margin: 15px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width: 768px) {
    .places-container {
        padding: 0 20px; 
    }

    .places div {
        flex: 0 0 48%;   
        min-width: 48%;
        height: 220px;
    }

    .places {
        gap: 15px;       
    }

    .places div img {
        height: 150px;   
    }

    .places div img:hover{
        transform: scale(0);
        transform: none;
    }
}

.places::-webkit-scrollbar {
    display: none;
}

.bg-img{
    width: 100%;
    object-fit: fill;
    height: 480px;
    display: flex;
    justify-content: center;
    position: absolute;
}

.bg-img img{
    width: 50%;
    object-fit: fill;
    height: 480px;
    opacity: 0.5;
}

.local-heading{
    text-align: center;
    position: relative;
    margin-top: 40px;
    font-size: 35px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.local-heading span{
    background-color: red;
    color: white;
    padding: 3px 8px;
    border-radius: 0px 10px 10px 0px;
}

@media (max-width: 768px){
    .local-heading{
        font-size: 20px;
    }
}

.local-heading1{
    padding: 0px 150px;
    font-size: 23px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.local-heading1 span{
    color: red;
}

@media (max-width: 768px) {
    .local-heading1 {
        padding: 0 20px;    
        font-size: 18px;    
        text-align: center;
        text-align: start;
    }
}

.local-trip {
    display: flex;
    height: 320px;
    width: 100%;
    padding: 0 130px;   
    gap: 30px;          
    box-sizing: border-box; 
    position: relative;
    margin-top: 20px;
}

.local-trip div {
    flex: 1;           
    overflow: hidden;  
    border-radius: 40px; 
    position: relative;
    box-shadow: 0 10px 16px rgba(0,0,0,0.1);
}

.local-trip div img {
     width: 100%;     
    height: 100%;      
    object-fit: cover;  
    display: block;
}

.local-trip div img:hover{
  transform: scale(1.2);
  transition-duration:  1.5s ;
}

.local-trip div p {
    position: absolute; 
    top: 50%;          
    left: 50%;         
    color: white;      
    font-size: 50px;     
    font-weight: bold;   
    text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
    z-index: 2;     
    text-align: center;   
    transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    .local-trip {
        flex-direction: column; 
        padding: 0 20px;        
        height: 420px;          
        gap: 20px;              
    }

    .local-trip div {
        height: 220px; 
        border-radius: 15px;         
    }

    .local-trip div p {
        font-size: 30px;     
    }
}

.btn-container{
    margin: 20px;
    display: flex;
    justify-content: center;
}

.btn-container button{
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    background-color: red;
    color: white;
}

.international-trip { 
    display: flex; 
    height: 200px; 
    width: 100%; 
    padding: 0 130px; 
    gap: 30px; 
    box-sizing: border-box; 
    position: relative; 
    margin-top: 20px;
    overflow-x: auto;         
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth;
}

.international-trip div { 
    flex: 0 0 31.5%; 
    min-width: 31.5%; 
    overflow: hidden; 
    border-radius: 15px; 
    position: relative; 
    box-shadow: 0 10px 16px rgba(0,0,0,0.1);
    scroll-snap-align: start; 
}

.international-trip div img { 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: block; 
} 

.international-trip div p { 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    color: white; 
    font-size: 30px; 
    font-weight: bold; 
    text-shadow: 1px 1px 5px rgba(0,0,0,0.7); 
    z-index: 2; 
    text-align: center; 
    transform: translate(-50%, -50%); 
}


.international-trip::-webkit-scrollbar {
    display: none;
}


@media (max-width: 768px) {
    .international-trip { 
        padding: 0 20px;      
        gap: 15px;          
    }

    .international-trip div {
        flex: 0 0 70%;       
        min-width: 70%;
    }

    .international-trip div p {
        font-size: 20px;      
    }
}
