*{
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 70px;
}
.nav {
  display: flex;
  gap: 30px;
  font-size: larger;
  list-style: none;
  margin: 10px 0;
  font-size: 15px;
  padding: 10px 50px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(175, 72, 72, 0.15); 
  backdrop-filter: blur(30px); 
  -webkit-backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.3); 
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.container{
    background-color: rgb(237, 235, 235);
    
}


.main-banner{
    height: 60vh;
    display: flex;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}
.main-banner div{
    width: 100%;
}
.main-banner div img{
    height: 60vh;
    width: 100%;
    object-fit: cover;
}
@media (max-width: 768px) {
    .main-banner { 
        height: auto; 
    }
    .main-banner div {
        width: 100%;
    }
    .main-banner div img {
        height: 30vh; 
    }
}



.main-heading{
    position: absolute;
    text-align: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 10;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    line-height: 1.2; 
    font-size: 45px;
}

.main-heading h2 {
    white-space: nowrap;
}
.main-heading h2 span{
    background-color: brown;
    padding:  3px 10px;
    border-radius: 10px;
    white-space: nowrap;
}
@media (max-width: 768px) {
    .main-heading { 
        font-size: 22px;
        padding: 0 18px;
        bottom: 350px; 
    }
}



.trip-container { 
    margin: 50px 130px;
    box-sizing: border-box; 
    position: relative;
    padding: 20px 30px;
    background-color: white; 
    border-radius: 10px; 
    box-shadow: 0 10px 16px rgba(0,0,0,0.1);
}
.trip-card {
    display: flex;
    gap: 20px; 
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding: 0;
    z-index: 10; 
    padding: 15px 0;
    -webkit-overflow-scrolling: touch; 
}
.trip-card div {
    flex: 0 0 140px; 
    min-width: 140px;
    height: 220px;
    scroll-snap-align: start;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(173, 29, 29); 
    position: relative;
}
.trip-card::-webkit-scrollbar {
    display: none;
}
.trip-card div img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.trip-card div p{
    position: absolute;
    z-index: 10;
    bottom: 0;              
    left: 0;
    color: white;
    padding: 7px 15px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.trip-container h2{
    font-size: 40px;
}
.trip-container p{
    opacity: 0.5px;
    color: grey;
    font-size: 20px;
}
@media (max-width: 768px) { 
    .trip-container { 
        margin: 30px 18px; 
        padding: 15px 0px; 
        margin-top: 0; 
        background-color: transparent; 
        box-shadow: none; 
    } 
    .trip-container h2 { 
        font-size: 20px; 
    } 
    .trip-container p { 
        font-size: 15px; 
        margin-top: 5px; 
    } 
    .trip-card div { 
        flex: 0 0 100px; 
        height: 120px; 
    } 
    .trip-card div img { 
        width: 100%; 
        height: 120px; 
    } 
}



.trip-container1 { 
    margin: 50px 130px;
    box-sizing: border-box; 
    position: relative;
    padding: 20px 30px;
    background-color: white; 
    border-radius: 10px; 
    box-shadow: 0 10px 16px rgba(0,0,0,0.1);
}
.trip-card1 {
    display: flex;
    gap: 20px; 
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding: 0;
    z-index: 10; 
    padding: 15px 0;
    -webkit-overflow-scrolling: touch; 
}
.trip-card1 div {
    flex: 0 0 140px; 
    min-width: 140px;
    height: 220px;
    scroll-snap-align: start;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(173, 29, 29); 
    position: relative;
}
.trip-card1::-webkit-scrollbar {
    display: none;
}
.trip-card1 div img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.trip-card1 div p{
    position: absolute;
    z-index: 10;
    bottom: 0;              
    left: 0;
    color: white;
    padding: 7px 15px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.trip-container1 h2{
    font-size: 40px;
}
.trip-container1 p{
    opacity: 0.5px;
    color: grey;
    font-size: 20px;
}
@media (max-width: 768px) { 
    .trip-container1 { 
        margin: 30px 18px; 
        padding: 15px 18px; 
        margin-top: 20px;
    } 
    .trip-container1 h2 { 
        font-size: 20px; 
    } 
    .trip-container1 p { 
        font-size: 15px; 
        margin-top: 5px; 
    } 
    .trip-card1 div { 
        flex: 0 0 200px; 
        height: 160px; 
    } 
    .trip-card1 div img { 
        width: 200px; 
        height: 160px; 
    } 
}


.trip-intro{
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.trip-intro h3 span{
    color: brown;
}
@media (max-width: 768px) {
    .trip-intro {
        font-size: 22px;
        padding: 0 22px; 
        margin-top: -20px;
        
    }
}



.category-section { 
    margin: 50px 130px;
    box-sizing: border-box; 
    position: relative; 
    height: 320px;
    width: 83%;        
    background-color: white; 
    border-radius: 10px; 
    box-shadow: 0 10px 16px rgba(0,0,0,0.1);
    overflow: hidden;  
}
.category-section1{
    width: 560px;
    height: 560px;
    position: absolute;
}
.img1{
    width: 560px;
    height: 560px;
    position: absolute;
    opacity: 0.3;
    top: -120px;
    left: -40px;
}
.category-section2{
    width: 300px;
    height: 360px;
    position: absolute;
    z-index: 10;
}
.img2{
    width: 300px;
    height: 100%;
    position: absolute;

}
.category-section3{
    left: 280px;
    top: 80px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
}
.category-section3 p{
    font-size: 20px;
    color: rgb(51, 3, 3);
    font-weight: 600;
}
.category-section3 h3{
    font-size: 50px;
    color: brown;
}
.category-section3 span{
    font-size: 15px;
    color: rgb(79, 75, 75);
    font-weight: 550;
    margin-top: 50px;
}
.category-section4{
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 650px;
    height: 220px;
    gap: 20px;
}
.category-section4 div{
    gap: 20px;
    width: 100%;
    height: 140px;
    object-fit: cover;
    width: 650px;
    height: 220px;
    border-radius: 10px;
    box-shadow: 0 10px 16px rgba(0,0,0,0.1);
    background-color: rgb(244, 244, 244);
}
.category-section4 div img{
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.category-section4 div h3{
    font-size: 13px;
    position: relative;
    top: 8px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.category-section4 div button{
   left: 60px;
   top: 13px;
   padding: 4px 20px;
   position: relative;
   background-color: black;
   color: white;
   border-radius: 5px;
   border: none;
}
.category-section4 div button:hover{
    background-color: red;
}

@media (max-width: 768px) {
    .category-section {
        margin: 0 18px; 
        width: auto;           
        height: 61.5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
        box-sizing: border-box;
        background-color: transparent; 
        box-shadow: none;
    }

    .category-section1,
    .category-section2 {
        width: 100%;           
        height: auto;
        position: relative;
    }

    .img1{
        width: 100%;
        height: 300px;
        position: relative;
        opacity: 0.3; 
        left: 3px;
    }
    .img2 {
        width: 100%;
        height: 300px;
        position: relative;
        bottom: 84px;
        right: 100px;
        opacity: 0.8;
    }

    .category-section3 {
        max-width: 100%;
        margin-top: 10px;
        text-align: center;
        left: auto;
        top: auto;
    }

    .category-section3 h3 {
        font-size: 28px;
    }

    .category-section3 p {
        font-size: 18px;
    }

    .category-section3 span {
        font-size: 14px;
        margin-top: 10px;
        display: block;
    }

   .category-section4 { 
    position: relative; 
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    width: 100%; 
    height: 400px; 
    bottom: 512px; 
    left: 95px; 
} 
.category-section4 div { 
    width: 50%; 
    height: 120px; 
    background-color: rgb(244, 244, 244); 
    border-radius: 10px; 
    box-shadow: 0 8px 12px rgba(0,0,0,0.1); 
    display: flex; 
    flex-direction: column; 
    overflow: hidden; 
} 
.category-section4 div img { 
    width: 100%; 
    height: 90px; 
    object-fit: cover; 
    border-radius: 10px 10px 0 0; 
}
.category-section4 div h3{
    font-size: 13px;
    bottom: 5px;
    text-align: center;
    position: relative;
    font-weight: normal;
    top: -12px;
}
.category-section4 div button { 
  display: none;
  } 
}



.trip-container2 { 
    margin: 50px 130px;
    box-sizing: border-box; 
    position: relative;
    padding: 20px 30px;
    background-color: white; 
    border-radius: 10px; 
    box-shadow: 0 10px 16px rgba(0,0,0,0.1);
}
.trip-card2 {
    display: flex;
    gap: 20px; 
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding: 0;
    z-index: 10; 
    padding: 15px 18px;
    -webkit-overflow-scrolling: touch; 
}
.trip-card2 div {
    flex: 0 0 140px; 
    min-width: 140px;
    height: 220px;
    scroll-snap-align: start;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(173, 29, 29); 
    position: relative;
}
.trip-card2::-webkit-scrollbar {
    display: none;
}
.trip-card2 div img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.trip-card2 div p{
    position: absolute;
    z-index: 10;
    bottom: 0;              
    left: 0;
    color: white;
    padding: 7px 15px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.trip-container2 h2{
    font-size: 40px;
}
.trip-container2 p{
    opacity: 0.5px;
    color: grey;
    font-size: 20px;
}
@media (max-width: 768px) { 
    .trip-container2 { 
        margin: 30px 18px; 
        padding: 15px 10px; 
        margin-top: 0; 
        background-color: rgb(244, 244, 244);
    } 
    .trip-container2 h2 { 
        font-size: 20px; 
    } 
    .trip-container2 p { 
        font-size: 15px; 
        margin-top: 5px; 
        margin-left: 35px;
    } 
    .trip-card2 div { 
        flex: 0 0 125px; 
        height: 125px;
        border-radius: 50px;
    } 
    .trip-card2 div img { 
        width: 100%; 
        height: 125px; 
        object-fit: fill;
    } 
}



.intro-container{
    background-color: rgb(220, 219, 219);
}
.intro{
    display: flex;
    justify-content: space-between;
    gap: 150px;
    margin: 0 130px;
    border-bottom: 1px solid black;
}
.intro div{
    height: 30vh;
    width: 50%;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.intro div h3{
    font-size: 15px;
    margin-bottom: 30px;
}
.intro div p{
    font-size: 12px;
    color: rgb(110, 110, 110);
}

.intro2{
    display: flex;
    justify-content: space-between;
    gap: 150px;
    margin: 0 130px;
    border-bottom: 1px solid black;
}
.intro2 div{
    height: 40vh;
    width: 50%;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.intro2 div h3{
    font-size: 15px;
    margin-bottom: 30px;
}
.intro2 div p{
    font-size: 12px;
    color: rgb(110, 110, 110);
}
.p{
    margin-top: 20px;
    font-size: 12px;
    color: rgb(110, 110, 110);
}
@media (max-width: 768px) {

    .intro-container{
        margin-top: 50px;
    }
    .intro, .intro2 {
        flex-direction: column;
        margin: 0 18px;
        gap: 20px;
    }
    .intro div, .intro2 div {
        width: 100%;
        height: auto; 
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .intro div h3, .intro2 div h3 {
        font-size: 16px;
        margin-bottom: 13px;
        text-align: center;
    }
    .intro div p, .intro2 div p, .p {
        font-size: 13px;
        text-align: justify;
    }
}


.footer-1 {
    background-color: black;
    color: white;
    position: relative;
    padding: 60px 20px;   
    height: 150px;        
}
.footer-1 h2 {
    font-size: 18px;
    margin: 0;
    position: absolute;
    bottom: 20px;              
    left: 50%;                  
    transform: translateX(-50%);
    text-align: center;
}
.img3{
    height: 30px;
    width: 30px;
    position: absolute;
    right: 130px;   
    bottom: 60px; 
    z-index: 10;
}
.img4{
    height: 30px;
    width: 30px;
    position: absolute;
    right: 180px;   
    bottom: 60px;  
    z-index: 10;
}
.img5{
    height: 30px;
    width: 30px;
    position: absolute;
    right: 230px;   
    bottom: 60px;  
    z-index: 10;
}
.img6{
    height: 30px;
    width: 30px;
    position: absolute;
    right: 280px;   
    bottom: 60px;  
    z-index: 10;
}
@media (max-width: 480px){
    .footer-1 h2{
        font-size: 14px;
        padding-top: 20px;
    }

    .footer-1{
        height: 100%;
    }
}